@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sekuya&display=swap');

body {
    background-color: #222;
    color: lavender;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Sekuya', sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

.main {
    display: flex;
    gap: 5rem;
}

.left h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.gem {
    cursor: pointer;
    color: rgb(135, 85, 137);
    scale: 2.5;
}

.gem:hover {
    opacity: 0.9;
    scale: 2.4;
}

.gem:active {
    opacity: 0.8;
    scale: 2.8;
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    height: 10vh;
    padding: 5vh 5vw;
    border: 1px solid lavender;
    border-radius: 1rem;
}

.items {
    scale: 2;
}